{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{super()}}主页{% endblock %}

{% block page_content %}
<div class="container">
    <div class="=row ">
        <div class="col-xs-10 page-header">
            <h1>欢迎 {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}你好{% endif %}!</h1>
            {% if not current_user.is_authenticated %}
            <span>希望加入本站？<a href="{{url_for('auth.register')}}">点我注册</a>，或右上角登陆</span>
            {% endif %}
        </div>
    </div>
</div>
<!--
<div class="page-header">
    <h1>欢迎 {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}你好{% endif %}!</h1>
    {% if not current_user.is_authenticated %}
    <span>希望加入本站？<a href="{{url_for('auth.register')}}">点我注册</a>，或右上角登陆</span>
    {% endif %}
</div>-->
<div>
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    {% endif %}
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">全部</a></li>
        {% if current_user.is_authenticated %}
        <li {% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">关注的</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
